.footer{
    width: -webkit-fill-available;
    @include setBackground(map-get($colors,menu-terc));
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
  }
  .footercont{
    @include grid(1, "1fr 1fr 1fr");
    margin-top: 20px;
    width: -webkit-fill-available;
  
    justify-items: center;
    @include responsive(lg){
      grid-template-columns: 1fr;
      margin: 0;
      width: 100%;
    }
    .columna{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
  }
  
  
  
  
  
  .playstore-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #000;
    border-radius: 9999px;
    background-color: rgba(0, 0, 0, 1);
    padding: 0.625rem 1.5rem;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    outline: 0;
    transition: all  .2s ease;
    text-decoration: none;
    color: white;
  }
  
  .playstore-button:hover {
    background-color: transparent;
    color: rgba(0, 0, 0, 1);
  }
  
  .icon {
    height: 1.5rem;
    width: 1.5rem;
  }
  
  .texts {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 1;
  }
  
  .text-1 {
    margin-bottom: 0.25rem;
    font-size: 0.75rem;
    line-height: 1rem;
  }
  
  .text-2 {
    font-weight: 600;
  }
  
  
  
  .appstore-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 12px;
    border: 3px solid rgb(189, 189, 189);
    background-color: rgb(15, 15, 15);
    border-radius: 15px;
    gap: 5px;
    cursor: pointer;
    transition: all 0.3s;
    box-shadow: 0px 0px 100px -30px rgb(255, 255, 255);
    color: white;
  }
  .appstore-button svg {
    width: 45px;
  }
  .appstore-button svg path {
    fill: white;
    transition: all 0.3s;
  }
  .button-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: white;
    transition: all 0.3s;
  }
  .top-text {
    font-size: 13px;
    font-weight: 600;
  }
  .bottom-text {
    font-size: 24px;
    font-weight: 600;
  }
  
  .appstore-button:hover {
    background-color: rgb(236, 236, 236);
    border: 3px solid rgb(138, 138, 138);
  }
  .appstore-button:hover .button-text {
    color: black;
  }
  .appstore-button:hover svg path {
    fill: black;
  }
  
  
  .social-card {
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background: rgb(255, 255, 255);
    padding: 10px 15px;
    border-radius: 14px;
  }
  .Btn {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    position: relative;
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.3s;
  }
  
  .svgContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    backdrop-filter: blur(0px);
    letter-spacing: 0.8px;
    border-radius: 10px;
    transition: all 0.3s;
    z-index: 2;
  }
  
  .BG {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #181818;
    z-index: 1;
    border-radius: 10px;
    pointer-events: none;
    transition: all 0.3s;
    font-size: 0px;
  }
  .github .BG {
    background: #181818;
  }
  .linkdin .BG {
    background: #0077b5;
  }
  .whatsapp .BG {
    background: #075e54;
  }
  .discord .BG {
    background: #7289da;
  }
  .Btn:hover .BG {
    transform: scale(1.5);
    /* transform-origin: bottom; */
    font-size: 20px;
    color: white;
  }
  
  .Btn:hover .svgContainer {
    background-color: rgba(209, 209, 209, 0.466);
    backdrop-filter: blur(4px);
  }
  
  
  
  
  
  
  
  
  
  